{{ define "main" }}
<style>
  .filter-green {
    filter: invert(20%) sepia(95%) saturate(4128%) hue-rotate(327deg) brightness(89%) contrast(101%);
  }

  .filter-easings {
    filter: invert(17%) sepia(92%) saturate(2713%) hue-rotate(213deg) brightness(85%) contrast(95%);
  }
</style>
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <!-- <img class="d-block mx-auto mb-1 masthead-brand" src="/images/fm-logo.png" alt="FriskyMouse logo" width="auto"
        height="95px"> -->
      <h1 class="mt-0" style="font-size: 70px;">      
        FriskyMouse</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <!-- <p class="lead">{{ .Params.lead | safeHTML }}</p> -->
      <p class="lead" style="margin: 10px 0px 30px; font-size: 25px; font-weight: 300;">Highlight your mouse cursor and
        decorate your mouse clicks.</p>

      <div class="btn-group">
        <button class="btn btn-info btn-lg px-4 mb-2 shadow-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="true" style="width: 12rem; height: 3.5rem">
          <img alt="Download FriskyMouse for Windows 10" style="margin-bottom: 3%;margin-right: 3%" class="align"
            src="/images/windows10-logo.webp" width="24px" height="auto" />
          Download
        </button>
        <ul class="dropdown-menu">
          <li style="width: 12rem; height: 1.3rem; display: flex; margin-bottom: 3%">
            <div style="flex:0.15; padding-left: 5.5%">
              <img alt="FriskyMouse Microsoft Store download" width="24px" height="24px"
                src="/images/microsoft-store-icon.webp" />
            </div>
            &nbsp;
            <a href="https://apps.microsoft.com/store/detail/friskymouse/9NDWJST4VTQR" style="flex:0.85"
              class="btn-secondary dark-link" target="_blank">Microsoft Store</a>
          </li>
          <hr class="solid">
          <li style="width: 12rem; height: 1.3rem; display: flex; margin-top: 3%">
            <div style="flex:0.15; padding-left: 5.5%;">
              <img alt="FriskyMouse Appx download" width="24px" height="24px"
                src="/images/windows-installer-icon.webp" />
            </div>
            <a href="#" style="flex:0.85" class="btn-secondary dark-link">Appx Installer</a>
          </li>
          <hr class="solid">
          <li style="width: 12rem; height: 1.3rem; display: flex; margin-top: 3%">
            <div style="flex:0.15; padding-left: 5.5%;">
              <img alt="FriskyMouse EXE download" width="24px" height="24px"
                src="/images/windows-installer-icon.webp" />
            </div>
            <a href="#" style="flex:0.85" class="btn-secondary dark-link">EXE Installer</a>
          </li>
          <hr class="solid">
          <li style="width: 12rem; height: 1.3rem; display: flex; margin-top: 3%">
            <div style="flex:0.15; padding-left: 5.5%;">
              <img alt="FriskyMouse Portable download" width="24px" height="24px"
                src="/images/windows-installer-icon.webp" />
            </div>
            <a href="#" style="flex:0.85" class="btn-secondary dark-link">Portable</a>
          </li>
        </ul>
      </div>
      &nbsp;&nbsp;&nbsp;
      <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/"
        role="button">
        <button class="btn btn-primary btn-lg px-4 mb-2" style="width: 12rem; height: 3.5rem">
          <img alt="Download FriskyMouse for Windows 10" style="margin-bottom: 3%;margin-right: 3%" class="filter-white"
            src="/icons/documentation.svg" width="24px" height="auto" />
          {{ i18n "get-started" }}
        </button>
      </a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/friskymouse/frisky-mouse"
          target="_blank">GitHub v.0.1.2</a></p>
    </div>
  </div>
</section>
<div class="px-4 pt-25 my-1 text-center border-bottom container px-5 overflow-hidden" style="max-height: 48vh;">
  <img src="/images/highlighter.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700"
    height="500" loading="lazy">
</div>
{{ end }}
{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm rounded" >
  <div class="container">
    <div class="row justify-content-center text-center mt-15">
      <div class="col-lg-5 shadow-sm">
        <h2 class="h4">
          <!-- <img src="/icons/wireless-mouse.svg" width="45" height="45" alt="My Happy SVG" /> -->
          <img src="/icons/mouse-click.svg" width="45" height="45" alt="Mouse highlighter" class="filter-green" />
          Mouse Highlighter
        </h2>
        <p>
          Highly customizable highlighter. Choose your spotlight color, outline style, shadow, and more.
        </p>
      </div>
      <div class="col-lg-5 shadow-sm rounded">
        <h2 class="h4">
          <img src="/icons/mouse-ripple.svg" width="45" height="45" alt="Click Indicator" />
          Clicks Indicator
        </h2>
        <p class="justify-content-left">
          A diverse set of ripples for decorating left and right clicks, including animated and static drawings.
        </p>
      </div>
      <div class="col-lg-5 shadow-sm rounded">
        <h2 class="h4">
          <img src="/icons/animated-spinner.svg" width="45" height="45" alt="Ripple Effects" />
          Ripple Effects
        </h2>
        <p>
          Three-way ripple animation that grow inward, outward, or inward-outward, enabling a unique rendering
          experience.
        </p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5 shadow-sm rounded">
        <h2 class="h4">
          <img src="/icons/easing-functions.svg" width="45" height="45" alt="Easing functions" class="filter-easings" />
          Easing Functions
        </h2>
        <p>
          31 easing functions, making FriskyMouse's ripple effects stand out.
        </p>
      </div>      
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}